<!DOCTYPE html>

<html>
    <head>
        <title>Malmidus Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Malmidus Blog</a></h1>
        </div>
        
        <div>
            <p>published: 01.02.2018, 12:43</p>
            <h2><a href="">My first post</a></h2>
            <p>This post is the first of many logging my advancements in web design, Currently im following a Django tutorial as im most confident in python and have always seen posts referencing the framework. I hope to grow from here and not only improve this site, but others as well.</p>
        </div>
       
    </body>
</html>
